<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
   <div class="container">
    <h2>API CATEGORÍAS</h2>
   <div class="content-tables">
    <div class="content">
        <div class="table">
            <h2>Registrar Categoría</h2>
            <table class="tableRegister">
                <tr class="filas">
                    <td class="title">Número: </td>
                    <td class="td-right">1</td>
                </tr>
                <tr>
                    <td class="title">Nombre endpoint: </td>
                    <td class="td-right">Registrar Categoría</td>
                </tr>
                <tr>
                    <td class="title">URI: </td>
                    <td class="td-right">localhost:3000/categorias</td>
                </tr>
                <tr>
                    <td class="title">Descripción: </td>
                    <td class="td-right">Endpoint para registrar una categoría en la base de datos</td>
                </tr>
                <tr>
                    <td class="title">Verbo HTTP: </td>
                    <td class="td-right">POST</td>
                </tr>
                <tr>
                    <td class="title">Header: </td>
                    <td class="td-right">Content-Type:  JSON</td>
                </tr>
                <tr>
                    <td class="title">Usuarios: </td>
                    <td class="td-right">Administrador, Encargado</td>
                </tr>
                <tr>
                    <td class="title">Request JSON: </td>
                    <td class="td-right">
                        { <br>
                            "nombre_categoria": "Maquinaria" <br>
                           }
                    </td>
                </tr>
                <tr>
                    <td class="title">Response: </td>
                    <td class="td-right">
                       <li>
                        <span>Correcto:</span> <br> <br>
                        status: 200 <br><br>
                       Body: <br>
                       { <br>
                        "message": "Categoria Registrada",<br>
                        "categoria": <br> [
                          {
                            "fieldCount": 0,
                            "affectedRows": 1,
                            "insertId": 37,
                            "info": "",
                            "serverStatus": 2,
                            "warningStatus": 0,
                            "changedRows": 0
                          }, <br>
                          null
                        ]
                      } <br> <br>
                       </li>
                          <li> <span>Incorrecto:</span> <br><br>
                           status: 500 <br><br>
                           Body: <br>
                           {<br>
                            "message": "error al registrar categoría ",<br>
                            "error": {<br>
                              muestra las características del error<br>
                            }
                          }
                          </li>
                           
                    </td>
                </tr>
            </table>
        </div>
        <div class="table">
            <h2>Listar Categorias</h2>
            <table class="tableRegister">
                <tr class="filas">
                    <td class="title">Número: </td>
                    <td class="td-right">2</td>
                </tr>
                <tr>
                    <td class="title">Nombre endpoint: </td>
                    <td class="td-right">Listar Categorias</td>
                </tr>
                <tr>
                    <td class="title">URI: </td>
                    <td class="td-right">localhost:3000/categorias</td>
                </tr>
                <tr>
                    <td class="title">Descripción: </td>
                    <td class="td-right">Endpoint para listar las categorias de la base de datos</td>
                </tr>
                <tr>
                    <td class="title">Verbo HTTP: </td>
                    <td class="td-right">GET</td>
                </tr>
                <tr>
                    <td class="title">Header: </td>
                    <td class="td-right"></td>
                </tr>
                <tr>
                    <td class="title">Usuarios: </td>
                    <td class="td-right">Administrador, Encargado</td>
                </tr>
                <tr>
                    <td class="title">Request JSON: </td>
                    <td class="td-right"></td>
                </tr>
                <tr>
                    <td class="title">Response: </td>
                    <td class="td-right">
                       <li>
                        <span>Correcto:</span> <br> <br>
                        status: 200 <br><br>
                       Body: <br>
                       [<br>
                       {<br>
                         "id_categoria": 22,<br>
                         "nombre_categoria": "Maquinarias"<br>
                       },<br>
                       {<br>
                         "id_categoria": 30,<br>
                         "nombre_categoria": "laboratorio"<br>
                       } <br>
                     ] <br> <br>
                       </li>
                          <li> <span>Incorrecto:</span> <br><br>
                           status: 500 <br><br>
                           Body: <br>
                           {
                            "message": "error al listar categorías"
                           }
                          </li>
                    </td>
                </tr>
            </table>
        </div>
    </div>
  <div class="content">
    <div class="table">
        <h2>Buscar Categoría</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">3</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Buscar Categoría</td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/categorias/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para buscar una categoría en la base de datos por su ID</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">GET</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador, Encargado</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right"></td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                   <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                   Body: <br>
                   { <br>
                    "id_categoria": 1,<br>
                    "nombre_categoria "Maquinarias"
                   }  <br> <br>
                   </li>
                      <li> <span>Incorrecto:</span> <br><br>
                       status: 404 <br><br>
                       Body: <br>
                       {
                        "message": "error al buscar categoría"
                       }
                      </li>
                </td>
            </tr>
        </table>
    </div>
    <div class="table">
        <h2>Actualizar Categoría</h2>
        <table class="tableRegister">
            <tr class="filas">
                <td class="title">Número: </td>
                <td class="td-right">4</td>
            </tr>
            <tr>
                <td class="title">Nombre endpoint: </td>
                <td class="td-right">Actualizar Categoría/td>
            </tr>
            <tr>
                <td class="title">URI: </td>
                <td class="td-right">localhost:3000/categorias/:id</td>
            </tr>
            <tr>
                <td class="title">Descripción: </td>
                <td class="td-right">Endpoint para actualizar datos de una categoría en la base de datos</td>
            </tr>
            <tr>
                <td class="title">Verbo HTTP: </td>
                <td class="td-right">PUT</td>
            </tr>
            <tr>
                <td class="title">Header: </td>
                <td class="td-right">Content-Type:  JSON</td>
            </tr>
            <tr>
                <td class="title">Usuarios: </td>
                <td class="td-right">Administrador, Encargado</td>
            </tr>
            <tr>
                <td class="title">Request JSON: </td>
                <td class="td-right">
                    { <br>
                        "nombre_categoria": "Maquinaria", <br>
                       } 
                </td>
            </tr>
            <tr>
                <td class="title">Response: </td>
                <td class="td-right">
                   <li>
                    <span>Correcto:</span> <br> <br>
                    status: 200 <br><br>
                   Body: <br>
                   {<br>
                    "message": "Categoria Actualizada",<br>
                    "categoria": [ <br>
                      {
                        "fieldCount": 0,
                        "affectedRows": 1,
                        "insertId": 0,
                        "info": "Rows matched: 1  Changed: 1  Warnings: 0",
                        "serverStatus": 2,
                        "warningStatus": 0,
                        "changedRows": 1
                      }, <br>
                      null
                    ]
                  }
                    <br> <br>
                   </li>
                      <li> <span>Incorrecto:</span> <br><br>
                       status: 404 <br><br>
                       Body: <br>
                       { <br>
                        "message": "error al actualizar categoría", <br>
                        "error": {<br>
                            muestra las características del error <br>
                            }  <br>
                       }
                      </li>
                </td>
            </tr>
        </table>
    </div>
  </div>
   </div>
   </div>
</body>
</html>